// Place all the styles related to the MapTest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container {
	float:left;
    height: 600px;
    width: 1000px;
	margin:10px;
	border:5px solid #6699CC;
}
#user-input {
	float:right;
	margin:10px;
}

#input-box {
	width: 210px;
}

