// Place all the styles related to the MapTest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	overflow-y:auto;
}

#map-container {
	position:absolute;
	top: 20px;
	left: 20px;
    height: 600px;
    width: 900px;
	margin:10px;
	border:5px solid #6699CC;
}
#user-input {
	position:absolute;
	top: 20px;
	right: 40px;
	margin:10px;
	margin-right: 10px;
	z-index: 9;
}

#input-box {
    margin-top:5px;
	width: 240px;
}

#chatBox {
	font-family:tahoma;
	font-size:20px;
	color:black;
	border: 1px teal solid;
	height: 580px;
	width: 320px;
	padding:3px;
	word-break: normal;
	overflow-y: auto;
	font-weight:bold;
	font-family: Tahoma, Verdana, Segoe, sans-serif;

}

#footer{
	position:absolute;
	bottom:0px;
}

#copyright{
	font-family:"Times New Roman", Times, serif;
}

.user{
	font-size:17px;
	font-weight: bold;
	color:#6699CC;
}

.food-finder{
	font-size:17px;
	font-weight: bold;
}
